/******************************
GENERAL LAYOUT
******************************/

#content > section, footer {
  padding: 75px 50px 75px 265px;
}

/******************************
LOGO
******************************/

#logo-animation {
  width: 350*1.25px;
  height: 166*1.25px;
  margin: 50px 0 50px 150px;
  img {
    width: 350*1.25px;
  }
}

/*****************************
FIRST CALLOUT
*****************************/

#first-callout {
  > span {
    font-size: 4em;
  }
}

/*****************************
GENERAL INFO SECTION
*****************************/

#general-info {
  article {
    padding: 25px 0;
    header {
      text-align:right;
      width: 160px;
      margin-left: -180px;
      float:left;
      h2 {
        margin: 0;
        color: $blue;
      }
    }
    p {
      margin-top: 0;
    }
  }
}

/******************************
PUBLIC MEETINGS SECTION
******************************/

#meetings {
  > h2 {
    font-size: 3em;
    margin-bottom: 0;
    + span {
     font-style: italic;
     font-size: 1.25em;
     margin-bottom: 25px;
     display:table-cell;
     //display:block; 
    }
  }
}

.meeting-number {
  margin-left: -70px;
  margin-top: 17px;
}
.article-content {
  h2 {
    margin-left: 0;
    font-size: 2em;
  }
}

/******************************
FOOTER
******************************/

footer {
  padding: 275px 50px 275px 265px;
}