* {
   -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
   -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  @include fonts($archer, 400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.knockout {
  @include fonts($knockout, 400);
  line-height: 1;
  .full {
    font-family: $knockout-full;
  }
}

h1,h2,h3,h4,h5,h6 {
  @extend .knockout;
}

/******************************
GENERAL LAYOUT 
******************************/

#content > section {
  //padding: 75px 0 75px 84px;
  padding: 25px;
  > * {
    max-width: 600px;
  }
}

.callout {
  font-size: 1.3em;
  font-weight: 800;
  color: darken($darker-green, 15%);
  &.knockout {
    font-weight: 400;
  }
}

/******************************
LOGO
******************************/

#logo-animation {
  width: 350*.8px;
  height: 166*.8px;
  position: relative;
  margin: 25px 0;
  span {
    display:block;
    position: absolute;
    left: 0;
    top: 0;
  }
  img {
    width: 350*.8px;
    height: auto;
  }
}

#layer-1 {
  z-index: 5;
}

#layer-2 {
  z-index: 4;
}

#layer-3 {
  z-index: 3;
}

#layer-4 {
  z-index: 2;
}

/**********************************
FIRST CALLOUT
**********************************/

#first-callout {
  background-color: $lighter-green;
  color:white;
  > span {
    //font-size:3em;
    font-size: 3em;
    line-height: 1;
  }
}

/**********************************
GENERAL INFO SECTION
**********************************/

#general-info {
  background-color: lighten($green, 43%);
}

article header h2 {
  font-size: 2em;
  margin-bottom: 0;
}

/**********************************
PUBLIC MEETINGS SECTION
**********************************/

#meetings {
  background-color: lighten($green, 40%);
  > h2 {
    font-size: 3em;
    color: white;
    background-color: $blue;
    display:inline-block;
    padding: 10px 15px;
    width: auto;
    max-width:none;
    margin-bottom: 0;
    + span {
      font-style: italic;
      font-size: 1.2em;
      margin-bottom: 25px;
      display:inline-block;
      background-color: $green;
      color: white;
      padding: 10px 15px;
      max-width: none;
    }
  }
  article {
    position:relative;
    margin-bottom: 25px;
  }
}

.meeting-number {
  @include fonts($knockout, 400);
  color: white;
  background-color: $green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align:center;
  line-height: 50px;
  font-size: 2em;
  float:left;
  margin-top: 12px;
}
.article-content {
  h2 {  
    font-size: 1.75em;
    margin-left: 70px; 
    color: $darker-green;
    margin-bottom: 0;
    span {
      color: $green;
    }
  }
}

.date {
  font-weight: 800;
  clear:both;
  font-size: 1.15em;
  margin: 10px 0;
}

.location {
  
}

.host {
  margin: 0;
  span {
    @extend .knockout;
  }
}

/*********************************
FOOTER
*********************************/

footer {
  padding: 25px;
  background-color: $green;
  .callout {
    font-size: 3em;
    color:white;
    max-width: 600px;
    display:block;
  }
}