//FONTS

// Archer weights: 500 & 800
// Knockout weights : 400 for both
// Knockout size names: 28 junior, 48 regular, 70 full

$archer: 'Archer SSm A', 'Archer SSm B', Georgia, 'Times New Roman', Times, serif;
$knockout: 'Knockout 48 A', 'Knockout 48 B', Helvetica, Arial, sans-serif;
$knockout-full: 'Knockout 70 A', 'Knockout 70 B', Helvetica, Arial, sans-serif;

@mixin fonts($typeface, $weight, $style: normal) {
  font-family: $typeface;
  font-weight: $weight;
  font-style: $style;
  @if $typeface != $archer {
    text-transform: uppercase;
  }
}

//COLORS

$lighter-green: #add036;
$green: #84c440;
$darker-green: #50b748;
$blue: #00bad1;
$yellow: #fff100;

